{:highlights [{:id #uuid "646e4585-2e74-43d3-b258-5d54b3546f9e",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 263.57281494140625,
                                     :y2 331.7578125,
                                     :width 785.7919999999999,
                                     :height 555.52},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 263.7421875,
                                   :x2 182.14329528808594,
                                   :y2 273.7421875,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 273.375,
                                   :x2 179.63961791992188,
                                   :y2 283.375,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 283.125,
                                   :x2 250.11505126953125,
                                   :y2 293.125,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 70.578125,
                                   :y1 292.75,
                                   :x2 105.1932144165039,
                                   :y2 302.75,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 302.5,
                                   :x2 263.57281494140625,
                                   :y2 312.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 312.1328125,
                                   :x2 253.91232299804688,
                                   :y2 322.1328125,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 70.578125,
                                   :y1 321.7578125,
                                   :x2 123.70133209228516,
                                   :y2 331.7578125,
                                   :width 785.7919999999999,
                                   :height 555.52}),
                          :page 6},
               :content {:text "GCA scenario (Global Climate Action)• On track with EU climate targets• Strong international scenario, green cooperation and regulation• Moderate oil price and very high CO2 price (IEA 450 PPM)• Approx. 50% electricity from wind and solar sources in Europe by 2040"},
               :properties {:color "yellow"}}
              {:id #uuid "646e45a2-0ee4-4772-b140-7c6576ba9114",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 276.1687927246094,
                                     :y2 423.5390625,
                                     :width 785.7919999999999,
                                     :height 555.52},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 272.390625,
                                   :x2 261.1189270019531,
                                   :y2 282.390625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 282.1328125,
                                   :x2 255.07887268066406,
                                   :y2 292.1328125,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 291.765625,
                                   :x2 272.92431640625,
                                   :y2 301.765625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 301.5078125,
                                   :x2 268.6989440917969,
                                   :y2 311.5078125,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 311.15625,
                                   :x2 264.781494140625,
                                   :y2 321.15625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 320.7890625,
                                   :x2 256.69293212890625,
                                   :y2 330.7890625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 330.53125,
                                   :x2 269.5078125,
                                   :y2 340.53125,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 340.1640625,
                                   :x2 272.24951171875,
                                   :y2 350.1640625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 349.9140625,
                                   :x2 262.722900390625,
                                   :y2 359.9140625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 236.359375,
                                   :y1 355.1640625,
                                   :x2 240.5135040283203,
                                   :y2 360.765625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 365.140625,
                                   :x2 271.87005615234375,
                                   :y2 375.140625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 374.890625,
                                   :x2 276.1687927246094,
                                   :y2 384.890625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 384.515625,
                                   :x2 269.3203430175781,
                                   :y2 394.515625,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 394.1484375,
                                   :x2 263.1000671386719,
                                   :y2 404.1484375,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 403.8984375,
                                   :x2 269.40875244140625,
                                   :y2 413.8984375,
                                   :width 785.7919999999999,
                                   :height 555.52}
                                  {:x1 57.921875,
                                   :y1 413.5390625,
                                   :x2 246.39100646972656,
                                   :y2 423.5390625,
                                   :width 785.7919999999999,
                                   :height 555.52}),
                          :page 7},
               :content {:text "The figure at the top right shows the duration curves for the electricity price in Western Denmark (DK1) in the different scenarios. The duration curves show the electricity price for the8,760 hours of the year, ranked from the highest to the lowest price. The general picture is that the higher the share of wind and solar power in the scenarios, the higher the number of hours with very low electricity prices but also with high electricity prices. The price level for the flat part of the duration curve is primarily determined by the scenario's fuel and CO2 prices. In the ambitious 2040 GCA scenario (light green), the electricity price drops significantly, with very low electricity prices for more than half of the hours of the year. In this scenario, the share of wind and solar power in electricity consumption in the North Sea region is approx. 70% compared to around 20% today. The scenario illustrates the risk of a significant price decline."},
               :properties {:color "yellow"}}
              {:id #uuid "646e46dd-b3ac-4397-905e-d7f453d82964",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 314.6685791015625,
                                     :y2 276.4921875,
                                     :width 898.0479999999999,
                                     :height 634.88},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 199.1640625,
                                   :x2 305.4933776855469,
                                   :y2 210.1640625,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 210.171875,
                                   :x2 314.6685791015625,
                                   :y2 221.171875,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 221.1796875,
                                   :x2 310.0030822753906,
                                   :y2 232.1796875,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 232.3203125,
                                   :x2 306.3098449707031,
                                   :y2 243.3203125,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 243.3515625,
                                   :x2 303.7854309082031,
                                   :y2 254.3515625,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 254.484375,
                                   :x2 311.0262451171875,
                                   :y2 265.484375,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 66.1953125,
                                   :y1 265.4921875,
                                   :x2 253.6756134033203,
                                   :y2 276.4921875,
                                   :width 898.0479999999999,
                                   :height 634.88}),
                          :page 11},
               :content {:text "A major advantage of PtG/PtX in terms of the transition of the energy systems is that an inexhaustible and increasingly cheaper RE resource such as electricity from wind and solar resources is refined, enabling it to replace fossil oil and gas in other energy sectors. A valuable added benefit of PtG/PtX is, however, also the potential for effective and flexible integration of fluctuating wind and solar power into the electricity system."},
               :properties {:color "yellow"}}
              {:id #uuid "646e484d-f531-40cf-8c51-7ffe733629fc",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 578.2772216796875,
                                     :y2 366.75,
                                     :width 898.0479999999999,
                                     :height 634.88},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 249.75,
                                   :x2 578.2772216796875,
                                   :y2 260.75,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 260.8828125,
                                   :x2 577.7112426757812,
                                   :y2 271.8828125,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 271.890625,
                                   :x2 559.6561889648438,
                                   :y2 282.890625,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 283.03125,
                                   :x2 413.7929992675781,
                                   :y2 294.03125,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 300.4375,
                                   :x2 566.040283203125,
                                   :y2 311.4375,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 311.4453125,
                                   :x2 573.8928833007812,
                                   :y2 322.4453125,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 322.578125,
                                   :x2 550.362060546875,
                                   :y2 333.578125,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 333.5859375,
                                   :x2 539.793212890625,
                                   :y2 344.5859375,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 344.7265625,
                                   :x2 568.379638671875,
                                   :y2 355.7265625,
                                   :width 898.0479999999999,
                                   :height 634.88}
                                  {:x1 334.53125,
                                   :y1 355.75,
                                   :x2 566.0886840820312,
                                   :y2 366.75,
                                   :width 898.0479999999999,
                                   :height 634.88}),
                          :page 11},
               :content {:text "The blue curve is a modelled variation of GCA40 which includes a potential amount of PtG in North-Western Europe as a whole(as a general rule, there is virtually no PtG in the European TYNDP18 scenarios). This has a significant effect on the duration curve where the electricity price is raised considerably for many hours, and the number of zero-price hours is significantly reduced. This indicates that PtG/PtX may be a powerful tool for the integration of very high levels of wind and solar power in the interconnected North-Western European electricity system."},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
